schemas/objectUpdated-xml.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Merchandise__c">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="ids" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element type="xs:dateTime" name="latestDateCovered"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>