schemas/versions-xml.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Versions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Version" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="label"/>
              <xs:element type="xs:string" name="url"/>
              <xs:element type="xs:float" name="version"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>